.leftSide, .rightSide {
    height: 100vh;
    font-weight: bold;
}

.leftSide {
    background-color: #F2F13D;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    font-weight: bold;
}

.rightSide {
    background-color: #262626;
    color: white;
    padding: 0 0 0 0;
}

#connexionPage {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    display: flex;
    opacity: 1;
}   

.loginForm > h3 {
    text-align: center;
    margin-bottom: 5vh;
}

.loginForm {
    border: solid 2px black;
    background-color: white;
    color: black;
    width: 35vw;
    padding: 20px;
    align-self: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.loginForm > .btn {
    align-self: center;
    font-weight: bold;
    border: 1.5px solid black;
    background-color: #F2F13D;
    color: black;
}

.loginForm > .btn:hover {
    background-color: black;
    color: #F2F13D;
    border: 1px solid black;
}

#createAccount, .aotherloginbutton {
    position: fixed;
    top: 10px;
    right: 10px;
}

#inscriptionPage {
    display: none;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    
}

/* ANIMATION */
.typewriter h3 {
    color: black;
    font-family: monospace;
    overflow: hidden; 
    border-right: .15em solid black; 
    white-space: nowrap;
    margin: 0 auto; 
    font-size: 7vh;
    animation: 
        typing 3.5s steps(30, end),
        blink-caret .5s step-end;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: transparent }
}



/* Page "algo.html" */

body {
    background-color: #262626;
}

.navbar {
    margin-top: 0;
    height: 10vh;
    width: 100vw;
    background-color: #F2F13D;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 {
    font-weight: bold;
}

.disconnect {
    background-color: #F2F13D;
    color:  #262626;
    border: 1.2px solid black;
    padding: 7px;
    font-weight: 500;
}

.disconnect:hover {
    border: 1px solid black;
    background-color: #262626;
    color:  #F2F13D;
}

.cesar {
    color: white;
    width: 40vw;
    margin-top: 10vh;
}

.langageChoice {
    padding-left: 0;
}

.btn {
    align-self: center;
    font-weight: bold;
    border: 1.5px solid black;
    background-color: #F2F13D;
    color: black;
}

.btn:hover, .btn:active, .btn:focus, .btn:visited, .btn:focus-within {
    background-color: black;
    color: #F2F13D;
    border: 1.5px solid black;
    box-shadow: none;
}

.messageDechiffrer {
    margin-top: 5vh;
}

.messageDechiffrer > form-control {
    color: blue;
}

a {
    color: black; 
}

a:hover, a:active, a:focus {
    color: yellow !important;
    text-decoration: none;
}